// Contact
.contact{
    @extend %list;
    padding: 0;
    margin: 0;
    display: block;
}
.contact__icon {
    fill: currentColor;
    margin-right: 8px;
    @media screen and (min-width:1200px) {
        margin-right: 10px;
    }
}
.contact__icon-envelope{
    @media screen and (min-width:1200px) {
            width: 16px;
            height: 12px;
        
    }}
.contact__icon-smartphone {
      @media screen and (min-width:1200px) {
          width: 10px;
          height: 16px;

      }
  }
.contact__link {
    @extend %link;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: calc(24 / 14);
    &:hover {
        color: $accent-color;
    }
}
.header .contact__link{color: $text-color;
    &:hover {
        color: $accent-color;
    }}