.header {
    border-bottom: 1px solid #ececec;
    position: relative;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
justify-content: space-between;
}
.header-nav__logo {
    display: block;
    font-family: 'Raleway',sans-serif;
    @extend %link;
    padding: 24px 0;
}
.header-nav__logo--blue{color: $accent-color;}
.header .contact{
    display: flex;
    align-items: center;
        @media screen and (max-width:1199px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: baseline;
        }
}
.header__contact{
        @media screen and (max-width:767px) {
            display: none;
        }
        @media screen and (min-width:1200px) {
        margin-left: 50px; 
        &:first-child{margin-left: 0;}
        }
}
.header .contact__link {
    @media screen and (max-width:1199px) {
    font-size: 12px;
    }
    }
    

