.header {
    border-bottom: 1px solid #ececec;
}
.header__container{
    display: flex;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-nav__logo {
    font-family: 'Raleway',sans-serif;
    @extend %link;
    margin-right: 93px;
    padding: 24px 0;
}
.header-nav__logo--blue{color: $accent-color;}
.header .contact{display: flex;
    align-items: center;}
.header__contact{
    margin-left: 50px;
    &:first-child{margin-left: 0;}
    
}

